@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,700;1,700&family=Libre+Baskerville:wght@400;700&display=swap');

:root {
    --background-color: rgb(25, 25, 25);
    --border-color: #FDD400;
    --second-border-color: #00fdbe;
    --text-color: #fff;
    font-family: 'JetBrains Mono', monospace;


}

* {
    padding: 0;
    margin: 0;
    box-sizing: border;
    text-decoration: none;
    list-style-type: none;
    transition: all 0.3s;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--background-color);
    color: var(--text-color);
    overflow-x: hidden;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: 'Libre Baskerville', serif;
    position: fixed;
    position: relative;
    margin-top: 2rem;
}

.navbar ul {
    display: inline-flex;

}

.navbar li {
    font-size: 22px;
    font-weight: bolder;
    padding: 5rem;
    transition: all 0.5s;


}

.navbar li:hover {
    transform: scale(1.2);
    filter: drop-shadow(0px 0px 10px var(--second-border-color));
}

.navbar li a {
    background: linear-gradient(90deg, #FDD400, #00fdbe);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.navbar li a:hover {
    border: 2px solid var(--second-border-color);
    padding: 0.5rem;
    border-radius: 5px;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 500px;
    width: 50vw;

}


.container .container-item h2 {
    font-size: 80px;
    background: linear-gradient(90deg, #FDD400, #00fdbe);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    position: relative;
    cursor: pointer;
}

.about {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 1000px;
    width: 100vw;
    background: radial-gradient(rgb(1, 48, 54) 10%, var(--background-color) 40%);
}





.about-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.about-text:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.about-text h3 {
    color: #00fdbe;
    font-size: 50px;
    padding: 5rem;

}

.about-text p {
    color: var(--text-color);
    font-size: 22px;
    margin: 2rem;
    font-weight: bold;
}

.about-image {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.about-image:hover {
    transform: scale(1.1);
}

.about-image img {
    width: 75%;
    border: 3px solid var(--second-border-color);

}

.contact {
    height: 1000px;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);


}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1.2rem;
    height: 500px;
    width: 500px;
    font-size: 30px;
    border: 1px solid var(--border-color);
    padding: 3rem;
    border-radius: 5px;
    filter: blur(10px);
}

.card:hover {
    color: black;
    background-color: #FDD400;
    cursor: pointer;
    transform: scale(0.9);
    filter: blur(0);
    border: 5px solid var(--second-border-color);
    filter: drop-shadow(0px 0px 50px var(--second-border-color));
}

.fa-discord {
    transform: scale(1.5);
    margin: 5rem;
    cursor: pointer;
    color: var(--text-color)
}

.fa-instagram {
    transform: scale(1.5);
    margin: 5rem;
    cursor: pointer;
    color: var(--text-color)
}

.fa-envelope {
    transform: scale(1.5);
    margin: 5rem;
    cursor: pointer;
    color: var(--text-color)
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    flex-direction: column;
    margin-bottom: 10rem;
    color: #FDD400;
}

.links li {
    display: inline-flex;
}

.links li a {
    color: #FDD400;
}




@media screen and (max-width:1080px) {


    .contact {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .footer {
        margin: 0;
    }

    .links li {
        display: block;
        margin-top: 25rem;
        border: 1px solid #FDD400;
        padding: 10px 10px;

    }

    .footer span {
        color: var(--text-color);
        margin-top: 5rem;
    }


}

@media screen and (max-width:768px) {
    .about {
        display: flex;
        flex-direction: column;
    }

    .about-text {
        transform: scale(0.9);
    }

    .about-text:hover {
        transform: scale(0.8);
    }

    .about-image {
        transform: scale(0.9);
    }

    .about-image:hover {
        transform: scale(0.8);
    }

    .contact {
        margin-top: 20rem;
    }

    .footer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }



}

@media screen and (max-width:500px) {
    .navbar {
        display: block;
    }

    .navbar ul {
        display: flex;
        flex-direction: column;
    }

    .card {
        transform: scale(0.5);
    }

    .card:hover {
        transform: scale(0.6);
    }

    .fa-bars {
        font-size: 20px;
        position: sticky;
        cursor: pointer;
    }

    .fa-bars:hover {
        cursor: pointer;

    }


}